{{!Everything shown here will be added to the top of each page on the website}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>Final Project</title>
  <h1>UMD Recipes</h1>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>
<div class="nav">
  <div class="nav">
    <a href="/" class="nav">Home</a>
    <a href="/addrecipe" class="nav">Add New Recipe</a>
    {{!filters below}}
    <a href="/allRecipes" class="nav">See All Recipes</a>
    <a href="/random" class="nav">See a Random Recipe</a>
    <a href="/tenmonth" class="nav">Ten Month Lease Listings</a>
    <a href="/new" class="nav">Recently Added</a>
    <a href="/underonek" class="nav">Listings under $1000 Per Month</a>
    <a href="/bythebed" class="nav">By-the-bed Listings</a>

  </div>
</div>

<body>
  {{{body}}}
</body>

</html>
