{{!Everything shown here will be added to the top of each page on the website}}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.css">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>Final Project</title>
  <h1 id = "title">UMD Recipes</h1>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>
<div>
  <div class="nav">
    <a href="/" class="nav">Home</a>
    <a href="/addrecipe" class="nav">Add New Recipe</a>
    {{!filters below}}
    <a href="/allRecipes" class="nav">See All Recipes</a>
    <a href="/random" class="nav">See a Random Recipe</a>
    <a href="/highestRated" class="nav">Highest Rated</a>
    <a href="/newest" class="nav">Recently Added</a>
    <a href="/popular" class="nav">Most Popular Recipe</a>
    <a href="/holiday" class="nav">Holiday Recipes</a>
    <a href="/quick" class="nav">Quick &amp; Easy Recipes</a>

  </div>
</div>

<body>
  {{{body}}}
</body>

</html>
