<article>
    <h2>Add Your Recipe!</h2>
    <form method="POST" action="/recipe">
        <div class="input-field">
            <label>Name of Recipe</label>
            <input type="text" name="recipeName" size="50">
        </div>
        <div class="input-field">
            <label>Ingredients (separate with commas)</label>
            <input type="text" name="ingredients " size="60" rows="20">
        </div>
        <div class="input-field">
            <label>Prep Time (minutes)</label>
            <input type="number" name="prepTime">
        </div>
        <div class="input-field">
            <label>Cooking Time (minutes)</label>
            <input type="number" name="cookTime">
        </div>
        <div class= "input-field">
            <label>Special Recipe</label>
            <input type="checkbox" name="div" value="quickAndEasy"> Quick &amp; Easy Recipe<br>
            <input type="checkbox" name="div" value="holidayRecipe"> Holiday Recipe <br>
        </div>
        <div class ="input-field">
            <label>Directions (separate with semicolons)</label>
            <input type="text" name="directions" size="50" rows="2">
        </div>
        <br>
        <button type="submit">Post Your Recipe!</button>
    </form>
</article>
