{{! names of group members and description of application}}
<article>
    <h4>Group Members</h4>
    <ul>
        <li>Youjia Wang</li>
        <li>Theodore Gwo</li>
        <li>Wilson Zheng</li>
    </ul>
    <h4>About the Project</h4>
    <p>Welcome to UMD recipes. This website allows members of the UMD community to post their recipes and leave ratings and reviews on any posted recipes.</p>
</article>