{{! names of group members and description of application}}
<article>
    <h2>Group Members</h2> <br>
    <ul>
        <li>Youjia</li>
        <li>Theodore Gwo</li>
        <li>Wilson Zheng</li>
    </ul>

    <p>Welcome to UMD recipes. This website allows members of the UMD community to post their recipes and leave anonymous reviews on any posted recipes.</p>
</article>