/* Please add your own! */

.input-field {
    padding: 10px 0;
}

article {
    padding: 20px;
    border: 5px solid turquoise;
}

label {
    display: block;
    padding-bottom: 10px;
}

input {
    padding: 10px;
    font-size: 20px;
}

textarea {
    padding: 10px;
    font-size: 20px;
    width: 80%;
}

#title {
    padding-left: 20px;
}

button {
    border: none;
    padding: 10px;
    background-color: teal;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.nav {
    padding: 15px;
    background-color: #008080;
    font-weight: bold;
    color: white;
}

.nav:hover {
    background-color: rgba(0, 128, 128, 0.5);
}

img {
    height: 100px;
    width: 110px;
}

#notification {
    padding: 10px;
}

ul#sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 20%;
    left: 100%;
    width: 20%;
    padding: 10px;
    padding-left: 20px;
    background-color: #cae8ca;
    border: 2px solid #4CAF50;
}